{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container">
<main class="px-3">
    <h1>Тут угарают</h1>
    <p class="lead">
        АХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХАХАХАХАХ
        АХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХААААА
        ААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХА
        ХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХ
        АХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХ
        АХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХА
        ХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХ
        АХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХААААААА
        ААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХА
        ХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХ
        АХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХ
        АХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХА
        ХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХ
        ХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХААААААААА
        ХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХА
        ХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХ
        АХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХ
        АХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХ
        АХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХА
        АХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХА
        ХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХА
        ХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХ
        ХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХ
        ХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХ
        АХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХ
        АХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХА
        ХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХ
        АХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХА
        ХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХА
        ХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХ
        АХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХ
        ХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХА
        ХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХ
        АХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХ
        АХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХА
        ХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХ
        АХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХА
        АААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХ
        АХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХА
        ХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХА
        ХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХ
        АХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХА
        АХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХААААА
        ААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХА
        ХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХ
        АХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХ
        АХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХА
        ХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХ
        АХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХААААААА
        ААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХА
        ХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХ
        АХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХ
        ХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХ
        ХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХ
        ААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХ
        АХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХ
        АХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХА
        ХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХА
        ХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХА
        ХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАА
        ХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХ
        АХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХ
        ХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХ
        АХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХ
        АХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХА
        ХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХА
        ХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХ
        АХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХА
        ХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХ
        ХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХ
        АХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХА
        ХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХ
        АААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХ
        АХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХА
        ХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХА
        ХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХ
        АХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХА
        ХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАА
        АААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХ
        АХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХА
        ХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХА
        ХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХ
        АХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХА
        ХАХАХХААХАХХАААААААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААА
        АААААХАХАХАХАХАХАХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХАХАХАХАХХААХАХХАААААААААХАХАХАХАХАХ
        АХАХАХАХХАХАХАХАХАХАХАХХАХХАХАХАХАХАХАХХАХАХАХАХАХАХХАХАХАХЛОЛ</p>

  </main>
</div>
{% endblock %}
